@media screen and(max-width:400px){
    header .container{
        display:flex;
        flex-direction: column; /*Menu abre para baixo*/
    }

    .botao{
        margin-top: 5px;
    }
}

@media screen and(min-width:1000px){
    .descricao{
        width: 50%;
    }
}